services:
  app:
    image: 'docker.io/jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - /srv/nginx/data:/data
      - /srv/nginx/letsencrypt:/etc/letsencrypt
    networks:
      - default

networks:
  default:
    name: nginx_proxymanager_default